<div class="card showFields" style="margin-bottom: 1vw;">
    <div class="garage-fillin">Is the garaging address the same as the above mailing address?
        <div class="row">
            <div class="item item-checkbox col-50">Yes
                <label class="checkbox">
                    <input id="gcheckbox-yes" type="checkbox" onclick="Javascript:SetGaraging(this.checked);" ng-click="showGaraging(true)" /> </label>
            </div>
            <div class="item item-checkbox col-50 col-offset-50"> No
                <label class="checkbox">
                    <input id="gcheckbox-no" type="checkbox" onclick="Javascript:unSetGaraging(this.checked);" ng-click="showGaraging(false)" /> </label>
            </div>
        </div>
    </div>
</div>