/*Color scheme*/

$color-white: #FBFFF1;
$color-ivory: #F8F9FC;
$color-main:#387EF5;
$color-black: #27232C;
$color-red: #DF2935;
$color-accent: #0A369D;
$font-family: Cambria,
serif;

/*the base file holds base styliongs that should be consistent throughout the entire project*/

html,
body {
    font-family: $font-family;
    color: $color-black;
    margin: 0px;
    padding: 0px;
}