/*******************
 * THEMES WILL AFFECT SPECIFIC STYLINGS FOR TEXT AND IMAGES
 * *****************
 */

#blue-header-large {
    font-size: 5vw;
    font-weight: 400;
    color: $color-accent;
}

#grey-subheader-large {
    color: $color-text-accent;
    font-size: 4vw;
}