<form enctype="multipart/form-data" id='pictureform' method="post"> <img src="img/adam.jpg" id="photo1" style="max-width:112px"> <img src="img/adam.jpg" id="photo2" style="max-width:112px;">
    <!--    <button ng-click="uploadCarPicture('photo1')" class="button button icon-right icon ion-upload button-positive" style="float:right" type="button">upload photo</button>-->
    <button ng-click="sendQuote()" class="button button icon-right icon ion-upload button-positive" style="float:right" type="button">upload photo</button>
    <button ng-click="takeCarPicture('photo1')" class="button button icon-right icon ion-camera button-positive" style="float:right" type="button">take photo</button>
</form>