<form method="GET" name="{{page}}" id="{{page}}" action="submitForm()" id="inset-form">
    <ion-list class="list inset-list" id="inset-form">
        <ion-item ng-repeat="pageBlock in pageBlocks[page]" class="page {{pageBlock}}" ng-show="checkHidden(pageBlock)">
            <!--            <div class="item item-divider" style="text-align:center;"> {{pageBlock}} </div>-->
            <ion-list class="list inset-list" id="inset-form">
                <ion-item ng-repeat="(key, pageBlockItem) in pageBlockItems[pageBlock]" class="item item-input item-stacked-label pageBlockItem">
                    <label> <span class="input-label">{{pageBlockItem.label}}</span>
                        <input type="{{pageBlockItem.type}}" placeholder="{{pageBlockItem.label}}" id="{{key}}" name="{{key}}" ng-pattern="{{pageBlockItem.validate_exp}}" value="{{pageBlockItem.value}}" ng-if="checkType(pageBlockItem.type)">
                        <select ng-if="!checkType(pageBlockItem.type)" name="{{key}}" id="{{key}}" style="margin-right:3vw;float:right;border:none;">
                            <option ng-repeat="option in pageBlockItem['options']" ng-value="{{pageBlockItem.options[option]}}">{{option}} </option>
                        </select>
                    </label>
                </ion-item>
            </ion-list>
        </ion-item>
    </ion-list>
</form>