<ion-list>
    <ion-item ng-repeat="item in license" class="item item-input item-stacked-label item"><span>{{item.value}}</span></ion-item>
    <ion-item ng-repeat="item in license" class="item item-input item-stacked-label item">
        <label> <span class="input-label">{{item.label}}</span>
            <input type="{{item.type}}" placeholder="{{item.label}}" id="{{item.label}}" ng-pattern="{{item.validate_exp}}" value="{{item.value}}" ng-if="checkType(item.type)" ng-model="item.value" ng-size="{{item.size}}">
            <select ng-if="!checkType(item.type)" name="{{key}}" id="{{key}}" style="float:right;margin-right:3vw;height:10vh;">
                <option ng-repeat="option in item['options']" ng-value="{{item.options[option]}}">{{option}} </option>
            </select>
        </label>
    </ion-item>
</ion-list>