<div class="card showFields" style="margin-bottom: 1vw;">
    <div class="garage-fillin">Is the garaging address the same as the above mailing address?
        <div class="row">
            <div class="item item-checkbox col-50">Yes
                <label class="checkbox">
                    <input id="gcheckbox-yes" type="checkbox" ng-click="switchGaraging()" ng-checked="checkboxModel.checkbox1" /> </label>
            </div>
            <div class="item item-checkbox col-50 col-offset-50"> No
                <label class="checkbox">
                    <input id="gcheckbox-no" type="checkbox" ng-click="switchGaraging()" ng-checked="checkboxModel.checkbox2" /> </label>
            </div>
        </div>
    </div>
</div>