<form method="GET" name="{{name}}" id="{{name}}" action="userInformation.html">
    <ion-list>
        <ion-item ng-repeat="(label, object) in page" class="page" my-repeat>
            <div class="item item-divider"> {{label}} </div>
            <ion-list>
                <ion-item ng-repeat="(label, pblock) in object" class="item item-input item-stacked-label pblock">
                    <label> <span class="input-label">{{pblock.label}}</span>
                        <input type="{{pblock.type}}" placeholder="{{pblock.label}}" id="{{label}}" name="{{label}}" ng-pattern="{{pblock.validate_exp}}"> </label>
                </ion-item>
            </ion-list>
        </ion-item>
    </ion-list>
</form>