<ion-header-bar class="bar-positive header">
    <h1 class="title">New Driver</h1>
    <button class="button button-clear icon right ion-ios-home" style="position: absolute;right: 0px;padding-right:15px;" ui-sref="drivers"> </button>
</ion-header-bar>
<ion-view scroll="true" overflow-scroll="true" class="has-header has-footer background">
    <ion-content>
        <div class="row" style="margin:auto;font-size:6vmax">
            <div class="col col-66" style="margin:auto"> <i class="icon ion-ios-personadd-outline" style="color:cornflowerblue"></i>
                <p style="color:darkgrey;text-align:center;margin:auto;font-size:4vmin;display:inline">. . . Add a new Primary driver </p>
            </div>
        </div>
        <div class="card">
            <div scan-button></div>
            <ion-list class="list inset-list" id="inset-form" style="width:95vmax;margin:auto;">
                <ion-item class="item item-input item-stacked-label">
                    <label><span>Full Name</span>
                        <input type="{{driver.fullname.type}}" ng-pattern="driver.fullname.validate_exp" ng-model="$parent.driver.fullname.value" ng-value="driver.fullname.value"> </label>
                </ion-item>
                <ion-item class="item item-input item-stacked-label">
                    <label><span>License No.</span>
                        <input type="{{driver.license.type}}" ng-pattern="driver.license.validate_exp" ng-model="driver.license.value"> </label>
                </ion-item>
                <ion-item class="item item-input item-stacked-label">
                    <label><span>License Issue Date</span>
                        <input type="{{driver.licensedate.type}}" ng-pattern="driver.licensedate.validate_exp" ng-model="driver.licensedate.value"> </label>
                </ion-item>
                <ion-item class="item item-input item-stacked-label">
                    <label><span>Date of Birth</span>
                        <input type="{{driver.dob.type}}" ng-pattern="driver.dob.validate_exp" ng-model="driver.dob.value"> </label>
                </ion-item>
                <ion-item class="item item-input item-stacked-label">
                    <label><span>Street</span>
                        <input type="{{driver.street.type}}" ng-pattern="driver.street.validate_exp" ng-model="driver.street.value"> </label>
                </ion-item>
                <ion-item class="item item-input item-stacked-label">
                    <label><span>City</span>
                        <input type="{{driver.city.type}}" ng-pattern="driver.city.validate_exp" ng-model="driver.city.value"> </label>
                </ion-item>
                <ion-item class="item item-input item-stacked-label">
                    <label><span>State</span>
                        <input type="{{driver.state.type}}" ng-pattern="driver.state.validate_exp" ng-model="driver.state.value"> </label>
                </ion-item>
                <ion-item class="item item-input item-stacked-label">
                    <label><span>Zip</span>
                        <input type="{{driver.zip.type}}" ng-pattern="driver.zip.validate_exp" ng-model="driver.zip.value"> </label>
                </ion-item>
                <ion-item class="item item-select item-input item-stacked-label">
                    <label><span>Gender</span>
                        <select name="Gender" ng-model="driver.sex.selected" ng-options="option for option in driver.sex.options"> </select>
                    </label>
                </ion-item>
                <ion-item>
                    <div class="row">
                        <p style="margin:auto">Is this address your vehicle's garaging address?</p>
                    </div>
                    <div class="row" style="height:6vh">
                        <div class="col col-50" style="height:inherit">
                            <ion-radio ng-model="checked" value="yes" ng-change="showGaragingOne()" style="background-color:cornflowerblue" id="button-accept">Yes</ion-radio>
                        </div>
                        <div class="col col-50" style="height:inherit">
                            <ion-radio ng-model="checked" value="no" ng-change="showGaragingTwo()" id="button-reject">No</ion-radio>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
            <ion-list class="list inset-list" ng-show="showGaraging">
                <ion-item class="item item-input item-stacked-label">
                    <label><span>Garaging Street</span>
                        <input type="{{garagingInfo.gstreet.type}}" ng-pattern="garagingInfo.gstreet.validate_exp" ng-model="garagingInfo.gstreet.value"> </label>
                </ion-item>
                <ion-item class="item item-input item-stacked-label">
                    <label><span>Garaging City</span>
                        <input type="{{garagingInfo.gcity.type}}" ng-pattern="garagingInfo.gcity.validate_exp" ng-model="garagingInfo.gcity.value"> </label>
                </ion-item>
                <ion-item class="item item-input item-stacked-label">
                    <label><span>Garaging State</span>
                        <input type="{{garagingInfo.gstate.type}}" ng-pattern="garagingInfo.gstate.validate_exp" ng-model="garagingInfo.gstate.value"> </label>
                </ion-item>
                <ion-item class="item item-input item-stacked-label">
                    <label><span>Garaging Zip</span>
                        <input type="{{garagingInfo.gzip.type}}" ng-pattern="garagingInfo.gzip.validate_exp" ng-model="garagingInfo.gzip.value"> </label>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
    <ion-footer-bar class="background" style="border: none;
    background-image: none;">
        <div class="row">
            <div class="col col-50"> </div>
            <div class="col col-50">
                <button class="button button-positive" style="width:100%;color:white;" ng-click="submitPrimary()">Submit Driver</button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>