<ion-view view-title="Policy">
    <ion-header-bar class="bar-positive bar-header">
        <button class="button button-clear icon left ion-navicon">New Driver</button>
        <button class="button button-clear icon right ion-android-more-vertical"> </button>
    </ion-header-bar>
    <ion-content class="has-header has-footer">
        <div class="row" style="background-color:red;height:25%;"> </div>
        <div class="row" style="background-color:black;height:25%;">
            <div class="col col-50" style="height:80%;margin:auto;background-color:white"></div>
        </div>
        <div class="row" style="background-color:red;height:25%;">
            <div class="col col-50" style="height:80%;margin:auto;background-color:white"></div>
        </div>
        <div class="row" style="background-color:black;height:25%;"> </div>
    </ion-content>
    <ion-footer-bar align-title="right" class="bar-mellow" style="background-color:#eaeaea;">
        <div class="buttons button button-block" style="text-align:center;float:right;background-color:#eaeaea;width:100%" ng-click="submitForms()">
            <button class="button button-calm button-block ng-pristine ng-untouched ng-valid ng-binding ng-not-empty" style="width: 100%;height: 100%;text-align: center;margin: auto;line-height: 0px;" ng-click="submitForms()" ng-model="footerText">Accept</button>
        </div>
    </ion-footer-bar>
</ion-view>