<ion-header-bar class="bar-positive">
    <h1 class="title">Drivers</h1> </ion-header-bar>
<ion-view scroll="true" overflow-scroll="true" ng-init="superHacky()">
    <ion-content>
        <ion-slides options="options" slider="data.slider" style="height=80vh">
            <ion-slide-page scroll="true" ng-repeat="page in pageNames" class="block overflow-scroll">
                <div scan-button ng-show="$first"></div>
                <div help-card ng-if="$first" ng-show="carShown" ng-click="showCard()"></div>
                <div page-block ng-init="checkEdit()"></div>
                <div show-fields ng-show="checkPrimary($first)"></div>
                <div submit-button ng-show="$last"></div>
            </ion-slide-page>
        </ion-slides>
    </ion-content>
</ion-view>
<!--
<div ng-repeat="page in pageNames">{{page}} {{test}}
    <div ng-repeat="pageBlock in pageBlocks[page]">{{pageBlock}}
        <div ng-repeat=" pageBlockItem in pageBlockItems[pageBlock]">{{pageBlockItem}}</div>
    </div>
</div>-->