<ion-content style="top:7vh;background-color:#eaeaea">
    <div class="row scroll" style="height:20vh;top:44px;padding:0px;margin-top:7vh;">
        <ion-list class="list inset-list col scroll" style="margin-top:1vh;">
            <ion-item>
                <h2>Mary Sue <span style="color:blue;float:right;">Primary</span></h2>
                <p>DOB: <span>02/10/1991</span></p>
                <p>License No: <span>736y445</span></p>
                <p>License Issue Date: <span>02/17/2007</span></p>
                <p>Vehicles: <span>2010 Ford Escape</span></p>
                <button class="button button-clear button-outline button-positive button-small" style="float:right">learn more</button>
            </ion-item>
            <ion-item>
                <h2>John Doe<span style="color:gray;float:right;">normal</span></h2>
                <p>DOB: <span>02/10/1991</span></p>
                <p>License No: <span>736y445</span></p>
                <p>License Issue Date: <span>02/17/2007</span></p>
                <p>Vehicles: <span>2010 Ford Escape</span></p>
                <button class="button button-clear button-outline button-positive button-small" style="float:right">learn more</button>
            </ion-item>
            <ion-item>
                <h2>Mikey Troublemaker<span style="color:red;float:right;">excluded</span></h2>
                <p>DOB: <span>02/10/1991</span></p>
                <p>License No: <span>736y445</span></p>
                <p>License Issue Date: <span>02/17/2007</span></p>
                <p>Vehicles: <span>2010 Ford Escape</span></p>
                <button class="button button-clear button-outline button-positive button-small" style="float:right">learn more</button>
            </ion-item>
        </ion-list>
    </div>
</ion-content>