<ion-nav-bar class="bar-light">
    <ion-nav-back-button> </ion-nav-back-button>
</ion-nav-bar>
<ion-header-bar class="bar-positive" style="height:14vh">
    <button class="button button-clear icon left ion-navicon">Policy</button>
    <button class="button button-clear icon right ion-android-more-vertical"> </button>
    <!--        <h1 class="title" style=""></h1>--></ion-header-bar>
<!--<script id="templates/intro.html" type="text/ng-template">-->
<ion-view view-title="Intro" class="has-footer big-header">
    <ion-content style="">
        <ion-tabs class="tabs-positive tabs-icon-top">
            <ion-tab title="Overview" class="policy-tab" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" ui-sref="viewQuote.overview">
                <ion-nav-view name="overview-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Coverages" class="policy-tab" icon-on="ion-umbrella" icon-off="ion-umbrella" ui-sref="viewQuote.coverages">
                <ion-nav-view name="coverages-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Drivers" class="policy-tab" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" ui-sref="viewQuote.drivers">
                <ion-nav-view name="drivers-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Vehicles" class="policy-tab" icon-on="ion-model-s" icon-off="ion-model-s" ui-sref="viewQuote.vehicles">
                <ion-nav-view name="vehicles-tab"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-content>
</ion-view>