<ion-content style="top:7vh;background-color:#eaeaea">
    <div class="row scroll" style="height:20vh;top:44px;padding:0px;margin-top:7vh;">
        <ion-list class="list inset-list col scroll" style="margin-top:1vh;">
            <ion-item>
                <h2>1C3CCBCG9DN598577 </h2>
                <p>Make: <span>Toyota</span></p>
                <p>Model: <span>Corolla</span></p>
                <p>Year: <span>2007</span></p>
                <!--                <button class="button button-clear button-outline button-positive button-small" style="float:right">learn more</button>-->
            </ion-item>
            <ion-item>
                <h2>JH2PF01186K490633 </h2>
                <p>Make: <span>Ford</span></p>
                <p>Model: <span>Escape</span></p>
                <p>Year: <span>2010</span></p>
            </ion-item>
            <ion-item>
                <h2>1FVHCYDJX8HZ98669 </h2>
                <p>Make: <span>Ford</span></p>
                <p>Model: <span>Mustang</span></p>
                <p>Year: <span>2009</span></p>
            </ion-item>
        </ion-list>
    </div>
</ion-content>