<ion-content style="top:13vh;background-color:#eaeaea;padding:10px">
    <div class="row scroll" style="top:7vh;background-color:#eaeaea">
        <ion-list class="list inset-list col scroll" style="margin-top:1vh;">
            <ion-item>
                <h3>Property Damage Liability<span style="color:blue;float:right;">$100.00</span></h3>
                <p style="white-space:normal;">pays out if you are responsible for another person's injury or dreath in an auto accident. It also pays for legal defense</p>
                <button class="button button-clear button-outline button-positive button-small" style="float:right">learn more</button>
            </ion-item>
            <ion-item>
                <h3>Bodily Injury Liability<span style="color:blue;float:right;">$100.00</span></h3>
                <p style="white-space:normal;">pays out if you are responsible for another unisured or underinsured person's injury or dreath in an auto accident. It also pays for legal defense</p>
                <button class="button button-clear button-outline button-positive button-small" style="float:right">learn more</button>
            </ion-item>
            <ion-item>
                <h3>Uninsured/Underinsured Bodily Injury<span style="color:blue;float:right;">$100.00</span></h3>
                <p>Some info about the coverages and stuff</p>
                <button class="button button-clear button-outline button-positive button-small" style="float:right">learn more</button>
            </ion-item>
            <ion-item>
                <h3>Medical Payments<span style="color:blue;float:right;">$100.00</span></h3>
                <p style="white-space:normal;">Pays for medical costs incurred in an automobile accident</p>
                <button class="button button-clear button-outline button-positive button-small" style="float:right">learn more</button>
            </ion-item>
            <ion-item>
                <h3>Comprehensive Collision Deductible<span style="color:blue;float:right;">$100.00</span></h3>
                <p style="white-space:normal;">Pay to repair or replace your auto if it is stolen or damaged in an accident, regardless of who is at fault.</p>
                <button class="button button-clear button-outline button-positive button-small" style="float:right">learn more</button>
            </ion-item>
            <ion-item>
                <h3>Comprehensive Premium<span style="color:blue;float:right;">$100.00</span></h3>
                <p style="white-space:normal;">The cost per policy term for the comprehensive coverage</p>
                <button class="button button-clear button-outline button-positive button-small" style="float:right">learn more</button>
            </ion-item>
            <ion-item>
                <h3>Collision Premium<span style="color:blue;float:right;">$100.00</span></h3>
                <p style="white-space:normal;">The cost per policy term for the comprehensive coverage</p>
                <button class="button button-clear button-outline button-positive button-small" style="float:right">learn more</button>
            </ion-item>
            <ion-item>
                <h3>Rental Car<span style="color:blue;float:right;">$100.00</span></h3>
                <p style="white-space:normal;">Covers the cost of car rental in case of inconvienence due to accident</p>
                <button class="button button-clear button-outline button-positive button-small" style="float:right">learn more</button>
            </ion-item>
            <ion-item>
                <h3>Towing Premium<span style="color:blue;float:right;">$100.00</span></h3>
                <p style="white-space:normal;">Pays for towing costs associated with an automobile accident</p>
                <button class="button button-clear button-outline button-positive button-small" style="float:right">learn more</button>
            </ion-item>
        </ion-list>
    </div>
</ion-content>