<form enctype="multipart/form-data" id='pictureform' method="post"> <img src="img/default1.png" id="photo1" style="max-width:112px"> <img src="img/default2.png" id="photo2" style="max-width:112px;">
    <!--    <button ng-click="uploadCarPicture('photo1')" class="button button icon-right icon ion-upload button-positive" style="float:right" type="button">upload photo</button>-->
    <button ng-click="uploadCarPicture(photo1)" class="button button icon-right icon ion-upload button-positive" style="float:right" type="button">upload photo</button>
    <!--    <button ng-click="uploadCarPicture()" class="button button icon-right icon ion-upload button-positive" style="float:right" type="button">upload photo</button>-->
    <button ng-click="takeCarPicture('photo1')" class="button button icon-right icon ion-camera button-positive" style="float:right" type="button">take photo</button>
</form>