<div class="row scan_object">
    <div style="width:50%; font-size:5vw; margin:auto;">Scan or Upload<a ng-click="showCard()" style="margin-left:5px;"><i class="fa fa-question-circle" aria-hidden="true"></i> </a></div>
    <div style="width:35%;margin-right:5%;">
        <div class="button-bar">
            <button type="button" class="button button-positive" ng-click="capturePhoto()" style="width:50%;"><i class="fa fa-camera" aria-hidden="true"></i></button>
            <button type="button" class="button button-calm" ng-click="getPhoto()"><i class="fa fa-upload" aria-hidden="true"></i></button>
        </div>
    </div>
</div>