<ion-header-bar class="bar-positive">
    <h1 class="title">Add Car</h1> </ion-header-bar>
<ion-view scroll="true" overflow-scroll="true">
    <ion-content>
        <ion-slides options="options" slider="data.slider" style="height=80vh">
            <ion-slide-page scroll="true" ng-repeat="page in pageNames" class="block overflow-scroll">
                <div scan-button ng-show="$first"></div>
                <div help-card ng-if="$first" ng-show=false></div>
                <div page-block></div>
                <div car-picture ng-if="$first"></div>
                <div submit-button ng-show="$last"></div>
            </ion-slide-page>
        </ion-slides>
    </ion-content>
</ion-view>