<form method="GET" name="{{page}}" id="{{page}}" action="submitForm()">
    <ion-list>
        <ion-item ng-show="pageBlock != hiddenField" ng-repeat="pageBlock in pageBlocks[page]" class="page {{pageBlock}}" my-repeat>
            <div class="item item-divider"> {{pageBlock}} </div>
            <ion-list>
                <ion-item ng-repeat="pageBlockItem in pageBlockItems[pageBlock]" class="item item-input item-stacked-label pageBlockItem">
                    <label> <span class="input-label">{{pageBlockItem.label}}</span>
                        <input type="{{pageBlockItem.type}}" placeholder="{{pageBlockItem.label}}" id="{{pageBlockItem.default_value}}" name="{{pageBlockItem.default_value}}" ng-pattern="{{pageBlockItem.validate_exp}}" value="{{pageBlockItem.default_value}}"> </label>
                </ion-item>
            </ion-list>
        </ion-item>
    </ion-list>
</form>