<ion-header-bar class="bar-positive">
    <h1 class="title">Coverage Period</h1>
    <button class="button button-clear icon right ion-home" style="position: absolute;right: 0px;" ui-sref="drivers"> </button>
</ion-header-bar>
<ion-view scroll="true" overflow-scroll="true" class="has-header has-footer background">
    <ion-content class="has-header">
        <div class="row" style="margin:auto;font-size:6vmax">
            <div class="col col-66" style="margin:auto"> <i class="icon ion-ios-clock-outline" style="color:cornflowerblue"></i>
                <p style="color:darkgrey;text-align:center;margin:auto;font-size:4vmin;display:inline">. . . When would you like your policy to start? </p>
            </div>
        </div>
        <div class="card">
            <ion-item class="item item-input item-stacked-label">
                <div class="row">
                    <label><span>Start Date</span>
                        <input type="{{date.type}}" ng-model="date.date"> </label>
                </div>
                <div class="row">
                    <p style="font-size:6vmax;height:8vh;line-height:6vh">{{date.start}}</p>
                </div>
            </ion-item>
        </div>
        <div class="card">
            <ion-item class="item item-select item-input item-stacked-label">
                <div class="row"> <span>End Date</span> </div>
                <div class="row">
                    <p style="font-size:6vmax;height:8vh;line-height:6vh">{{date.end}}</p>
                </div>
            </ion-item>
        </div>
        <div id="logo" style="margin-top:9vmax">
            <div class="" style="width:70vmin;margin:auto;"> <img src="img/new_logo.png" style="width:100%;text-align:center"></div>
        </div>
    </ion-content>
    <ion-footer-bar class="background" style="border: none;
    background-image: none;">
        <div class="row">
            <div class="col col-50"> </div>
            <div class="col col-50">
                <button class="button button-positive" style="width:100%;color:white;" ui-sref="viewQuote({first:true})">Next</button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>