<ion-header-bar class="bar-positive">
    <h1 class="title">Payment</h1></ion-header-bar>
<ion-view scroll="true" overflow-scroll="true">
    <ion-content>
        <div class="row" style="margin:auto;font-size:6vmax">
            <div class="col col-66" style="margin:auto"> <i class="icon ion-card" style="color:cornflowerblue"></i>
                <p style="color:darkgrey;text-align:center;margin:auto;font-size:4vmin;display:inline">. . . Please enter your payment info</p>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col col-25 col-offset-75">
                    <button class="button button-positive button icon ion-camera" style="float:right" ng-click="scanCard()" id="scanBtn"></button>
                </div>
            </div>
            <ion-list>
                <ion-item class="item icon-left ion-person">
                    <!--                    //fullname-->
                    <label><span>Name on Card</span>
                        <input type="{{userInfo.fullname.type}}" ng-model="userinfo.fullname.value" ng-value="userInfo.fullname.value">
                        <p ng-value="userInfo.fullname.value" id="vin">{{userInfo.fullname.value}}</p>
                    </label>
                </ion-item>
                <ion-item class="item icon-left ion-card">
                    <!--                    card nmber-->
                    <label><span>Card Number</span>
                        <input type="{{userInfo.ccnumber.type}}" ng-model="userinfo.ccnumber.value" ng-value="userInfo.ccnumber.value"> </label>
                </ion-item>
                <ion-item class="item icon-left ion-locked">
                    <!--                    ccv code-->
                    <label><span>CCV Number</span>
                        <input type="{{userInfo.ccv.type}}" ng-model="userinfo.ccv.value" ng-value="userInfo.ccv.value"> </label>
                </ion-item>
                <ion-item class="item icon-left ion-calendar">
                    <!--                    eexpDatepiration date-->
                    <label><span>Expiration Date</span>
                        <input type="{{userInfo.expDate.type}}" ng-model="userinfo.expDate.value" ng-value="userInfo.expDate.value"> </label>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
    <ion-footer-bar class="background" style="border: none;
    background-image: none;">
        <div class="row">
            <div class="col col-50"> </div>
            <div class="col col-50">
                <button class="button button-positive" style="width:100%;color:white;" ui-sref="viewQuote({first: false})">Next</button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>