<ion-header-bar class="bar-positive">Payment</ion-header-bar>
<!--
<ion-slide-box>
    <ion-slide> <img src="img/pay_1.png" style="width:100vw;height:100vh;"> </ion-slide>
    <ion-slide> <img src="img/pay_2.png" style="width:100vw;height:100vh;">
        <button class="button button-block button-calm" ui-sref="home">Login</button>
    </ion-slide>
</ion-slide-box> <img src="img/pay_1.png" style="width:100vw;height:100vh;">
-->
<!---->
<ion-view scroll="true" overflow-scroll="true">
    <ion-content>
        <ion-slides options="options" slider="data.slider" style="height=80vh" on-slide-changed="slideChanged(index)">
            <ion-slide-page scroll="true" class="block overflow-scroll">
                <div><img src="img/pay_1.png" style="width:100vw;height:100vh;"></div>> </ion-slide-page>
            <ion-slide-page scroll="true" class="block overflow-scroll">
                <div><img src="img/pay_2.png" style="width:100vw;height:100vh;"></div>
            </ion-slide-page>
        </ion-slides>
    </ion-content>
</ion-view>