<ion-header-bar class="bar-positive">
    <h1 class="title">MVR and Payment</h1>
    <button class="button button-clear icon right ion-home" style="position: absolute;right: 0px;" ui-sref="drivers"> </button>
</ion-header-bar>
<ion-view scroll="true" overflow-scroll="true" class="has-header has-footer background">
    <ion-content class="has-header">
        <div class="row" style="margin:auto;font-size:6vmax">
            <div class="col col-66" style="margin:auto"> <i class="icon ion-ios-timer-outline" style="color:cornflowerblue"></i>
                <p style="color:darkgrey;text-align:center;margin:auto;font-size:4vmin;display:inline">. . . You're almost there! </p>
            </div>
        </div>
        <div class="card">
            <ion-item class="item item-input item-stacked-label">
                <div class="row" style="margin:auto;">
                    <h3 style="margin:auto;text-align:center;"><span style="white-space:normal;text-align:center;color:cornflowerblue">Before we can proceed further we will need a copy of your Motor Vehicle Report</span></h3> </div>
                <div class="row">
                    <p style="font-size:4vmin;margin:auto"><i class="icon ion-social-buffer" style="font-size:16vmin;margin:auto;color:#0A369D"></i></p>
                </div>
            </ion-item>
        </div>
        <div class="row">
            <br>
            <p style="text-align:center;margin:auto;margin-top:5vh;color:darkgrey"><strong>Note:</strong> You can also obtain a copy of your Motor Vehicle Report at your local DMV branch, or you can chose to pay now with us!</p>
        </div>
        <div class="card">
            <ion-item class="item item-input item-stacked-label">
                <div class="row" style="margin:auto;">
                    <h3 style="margin:auto;text-align:center;"><span style="white-space:normal;text-align:center;color:cornflowerblue">Proceed to recieve a Motor Vehicle Report and adjusted rate!</span></h3> </div>
                <div class="row">
                    <p style="font-size:4vmin;margin:auto"><i class="icon ion-android-checkmark-circle" style="font-size:16vmin;margin:auto;color:#0A369D"></i></p>
                </div>
            </ion-item>
        </div>
    </ion-content>
    <ion-footer-bar class="footer-background" style="border: none;
    background-image: none;">
        <div class="row">
            <div class="col col-50">
                <button class="button button-assertive" style="width:100%;color:white;" ui-sref="drivers">cancel</button>
            </div>
            <div class="col col-50">
                <button class="button button-positive" style="width:100%;color:white;" ui-sref="payment">Next</button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>