<ion-header-bar class="bar-positive">
    <button class="button button-clear icon left ion-navicon">Payment</button>
    <button class="button button-clear icon right ion-android-more-vertical"> </button>
    <!--        <h1 class="title" style=""></h1>--></ion-header-bar>
<ion-content class="has-header has-footer">
    <div class="row">
        <h2 style="margin:auto;color:blue">You're almost there!</h2></div>
    <div class="row">
        <p style="text-align:center;margin:auto;margin-top:5vh;">Before we can proceed further we will need a copy of your Motor Vehicle Report</p>
    </div>
    <div class="row">
        <br>
        <p style="text-align:center;margin:auto;margin-top:5vh;"><strong>Note:</strong> You can also obtain a copy of your Motor Vehicle Report at your local DMV branch, or you can chose to pay now with us!</p>
    </div>
    <div class="row">
        <br>
        <br>
        <h4 style="text-align:center;margin:auto;margin-top:5vh;color:blue">Proceed to recieve a Motor Vehicle Report and adjusted rate!</h4> </div>
</ion-content>
<ion-footer-bar align-title="right" class="bar-mellow" style="background-color:#eaeaea;">
    <!-- <div class="buttons">
    <button class="button">Left Button</button>
    </div> -->
    <!--        <h1 class="title">Title!</h1>-->
    <div class="buttons button button-block" style="text-align:center;float:right;background-color:#eaeaea;width:100%">
        <button class="button button-assertive button-block ng-pristine ng-untouched ng-valid ng-binding ng-not-empty" style="width: 50%;height: 100%;text-align: center;margin: auto;line-height: 0px;" ng-click="submitForms()" ng-model="footerText">Cancel</button>
        <button class="button button-calm button-block ng-pristine ng-untouched ng-valid ng-binding ng-not-empty" style="width: 50%;height: 100%;text-align: center;margin: auto;line-height: 0px;" ui-sref="payment">Proceed</button>
    </div>
</ion-footer-bar>