<ion-view>
    <ion-header-bar class="bar-positive header">
        <h1 class="title">Drivers</h1>
        <button class="button button-clear icon right ion-ios-home" style="position: absolute;right: 0px;padding-right:15px;" ui-sref="drivers"> </button>
    </ion-header-bar>
    <ion-scroll class="has-header has-footer overflow-scroll background">
        <ion-list>
            <ion-item ng-repeat="driver in drivers" item="driver" class="card driver-item" style="padding:0px" can-swipe="false">
                <div class="item item-divider driver-item-header">
                    <p>{{driver.fullname}}</p>
                    <label style="float:right;line-height:5vmax;">
                        <div>
                            <p style="font-size:2vmax;">{{driver.category}}</p>
                        </div>
                    </label>
                    <!--                    <p class="named-help">named<a href="#" onclick="showCard()"><i class="fa fa-question-circle" aria-hidden="true"></i> </a> </p>-->
                </div>
                <a ui-sref="newDriver.edit({driverId: {{driver.id}}})" id="edit{{driver.id}}">
                    <button class="button button-clear button-positive driver-edit-button" style="float:right">edit</button>
                </a>
                <p>
                    <br>{{driver.street}}
                    <br>{{driver.city}}
                    <br>{{driver.state}}
                    <br>{{driver.zip}} </p>
                <ion-list class="list list-inset cars-list">
                    <div class="item item-divider car-item-header" style="border:none;">Cars
                        <p>primary<i class="fa fa-question-circle" aria-hidden="true"></i></p>
                    </div>
                    <ion-item ng-repeat="car in cars" style="padding-left:15px;padding-right:15px;">
                        <div class="row">
                            <div class="col col-10" style="line-height:7vh;"> <i class="fa fa-car" aria-hidden='true'></i></div>
                            <div class="col col-70" style="line-height:7vh;">
                                <p>{{car.vin}}</p>
                            </div>
                            <div class="col col-20">
                                <button class="button button-clear button-assertive" ng-click="removeCar($index)">delete</button>
                            </div>
                        </div>
                    </ion-item>
                    <!--
                    <ion-item ng-repeat="car in cars" item="car" class="item item-avatar item-button-right item-thumbnail-right car-item" id="{{car.id}}" ng-if="checkOwner($parent.$index, $index)"> <i class="fa fa-car" aria-hidden="true"></i>
                        <p style="float:right;">{{car.vin}}</p>
                        <label class="checkbox" style="float:right;">
                            <input type="checkbox" checked=""> </label>
                        <ion-option-button class="button-info" ui-sref="newCar.edit({carId:car.id})"> Edit </ion-option-button>
                        <ion-option-button class="button-assertive" ng-click="removeCar($index)"> delete </ion-option-button>
                    </ion-item>
--></ion-list>
                <div class="row">
                    <div class="col col-50">
                        <button class="button button-clear icon-right icon ion-close-round button-assertive" ng-click="removeDriver($index)" style="width: 60%;">Driver</button>
                    </div>
                    <div class="col col-50">
                        <button class="button button icon-right icon ion-plus-round button-balanced" ui-sref="newCar({fullname:drivers[$parent.$index].fullname, driverId:$parent.$index})" style="width: 100%;">Add Car</button>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <ion-item>
            <div class="add-driver-button-container">
                <div class="col col-50" ng-show="getDriversLength()" style="float:left;">
                    <h3 style="font-size:5vw;font-weight:400;color:cornflowerblue;">Need a Quote?</h3>
                    <p style="color:darkgrey;font-size:4vw">click here to get started.</p>
                </div>
                <button class="button button icon-right icon ion-person-add button-positive" style="float:right" ng-click="addDriver()">add driver</button>
            </div>
        </ion-item>
    </ion-scroll>
    <ion-footer-bar class="background" style="border: none;
    background-image: none;">
        <div class="row">
            <div class="col col-50"> </div>
            <div class="col col-50">
                <button class="button button-positive" style="width:100%;color:white;" ng-click="submitForms()">Submit Drivers</button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>