<div class="view-container" style="background-color:#e8e9ea">
    <ion-header-bar class="bar-positive">
        <button class="button button-clear icon left ion-navicon">Main</button>
        <button class="button button-clear icon right ion-help-circled" style="margin-right:32px;margin-right: 32px;position: absolute;right: 0px;"> </button>
        <button class="button button-clear icon right ion-android-more-vertical"> </button>
        <!--        <h1 class="title" style=""></h1>--></ion-header-bar>
    <ion-scroll class="has-header has-footer overflow-scroll row">
        <div class="row" id="grid-row">
            <div class="col col-50" style="height:100%">
                <button class="button button-outline button-positive home-button" style="background-color: #ffffff;" ui-sref="drivers">
                    <div class="row" style="height:15%;margin:auto;">
                        <div class="col col-25 col-offset-25 icon ion-android-add" style="padding: 0px; left: 4%;position: relative;width: 10px;"> </div>
                        <div class="col col-25 icon ion-model-s" style="position:relative;right:8%;"></div>
                    </div>New Quote </button>
            </div>
            <div class="col col-50" style="height:100%">
                <button class="button button-outline button-positive home-button" style="background-color:#ffffff;">
                    <div class="row" style="height:15%:margin:auto;">
                        <div class="col col-25 col-offset-25 icon ion-ios-cog" style="padding: 0px;position: relative; right: -4%;"> </div>
                        <div class="col col-25 icon ion-person" style="position: relative; right: 10%;"></div>
                    </div>Manage Policy</button>
            </div>
        </div>
        <div class="row" id="grid-row">
            <div class="col col-50" style="height:100%">
                <button class="button button-outline button-positive home-button" style="background-color:#ffffff;">
                    <div class="icon ion-paper-airplane"></div> Report a Claim </button>
            </div>
            <div class="col col-50" style="height:100%">
                <button class="button button-outline button-positive home-button" style="background-color:#ffffff;">
                    <div class="icon ion-card"> </div>View ID Card</button>
            </div>
        </div>
        <div class="row" style="height:40%"><img src="img/new_logo.png" style="max-width:60vw;max-height:20vh;text-align:center;margin:auto;margin-top:24vh;"></div>
    </ion-scroll>
</div>