<div class="view-container" style="background-color:#e8e9ea">
    <ion-header-bar class="bar-positive">
        <button class="button button-clear icon left ion-navicon" id="header-label">Main</button>
        <button class="button button-clear icon right ion-help-circled" style="margin-right:32px;margin-right: 32px;position: absolute;right: 0px;"> </button>
        <button class="button button-clear icon right ion-android-more-vertical"> </button>
        <!--        <h1 class="title" style=""></h1>--></ion-header-bar>
    <ion-scroll class="has-header has-footer overflow-scroll row">
        <div class="row" id="grid-row">
            <div class="col col-50">
                <button class="button button-outline button-positive" id="grid-button" ui-sref="drivers">
                    <div class="row" style="height:15%;margin:auto;">
                        <div class="col col-33" id="grid-icon-container"><i class="icon ion-model-s" id="grid-icon"></i></div>
                    </div>
                    <p id="grid-label">New Quote</p>
                </button>
            </div>
            <div class="col col-50">
                <button class="button button-outline button-positive" id="grid-button">
                    <div class="row" style="height:15%:margin:auto;">
                        <div class="col col-33 col-offset-33" id="grid-icon-container"><i class="ion-ios-cog" id="grid-icon"></i> </div>
                    </div>
                    <p id="grid-label">Manage Policy</p>
                </button>
            </div>
        </div>
        <div class="row" id="grid-row">
            <div class="col col-50">
                <button class="button button-outline button-positive" id="grid-button">
                    <div class="col col-33 col-offset-33" id="grid-icon-container"> <i class="icon ion-paper-airplane" id="grid-icon"></i></div>
                    <p id="grid-label">Report a Claim</p>
                </button>
            </div>
            <div class="col col-50">
                <button class="button button-outline button-positive" id="grid-button">
                    <div class="col col-33 col-offset-33" id="grid-icon-container"><i class="icon ion-card" id="grid-icon"> </i></div>
                    <p id="grid-label">View ID Card</p>
                </button>
            </div>
        </div>
        <div class="row" style="height:40%"><img src="img/new_logo.png" style="max-width:60vw;max-height:20vh;text-align:center;margin:auto;margin-top:24vh;"></div>
    </ion-scroll>
</div>