<ion-item>
    <button class="button button-clear button-calm" ng-click="named('primary')">
        <div class="row">Primary Driver</div>
        <div class="row">
            <p>explaination</p>
        </div>
    </button>
</ion-item>
<ion-item>
    <button class="button button-clear button-calm" ng-click="named('named insured')">
        <div class="row">Additional Named Insured</div>
        <div class="row">
            <p>explaination</p>
        </div>
    </button>
</ion-item>
<ion-item>
    <button class="button button-clear button-stable" ng-click="regular('regular')">
        <div class="row">Regular Driver</div>
        <div class="row">
            <p>explaination</p>
        </div>
    </button>
</ion-item>
<ion-item>
    <button class="button button-clear button-assertive" ng-click="regular('excluded')">
        <div class="row">Excluded Driver</div>
        <div class="row">
            <p>explaination</p>
        </div>
    </button>
</ion-item>