/* Empty. Add your own CSS if you like */

body select {
    width: 93vw;
}

.background {
    background-color: ghostwhite;
}

inner-column {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 20px solid #f00;
    background: #00f;
    margin: 10px;
}

inner-column {
    border: 10px solid red;
}

#button-accept .item-content {
    background-color: #387ef5;
    text-align: center;
    color: white;
}

#button-reject .item-content {
    background-color: #ef473a;
    text-align: center;
    color: white;
}