/* Empty. Add your own CSS if you like */

body select {
    width: 93vw;
}

.background {
    /*    background-color: ghostwhite;*/
    background-color: #ededed;
}

inner-column {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 20px solid #f00;
    background: #00f;
    margin: 10px;
}

inner-column {
    border: 10px solid red;
}

#button-accept .item-content {
    background-color: #387ef5;
    text-align: center;
    color: white;
}

#button-reject .item-content {
    background-color: #ef473a;
    text-align: center;
    color: white;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}

.pane .view .has-header {
    top: 44px
}

.correct-footer {
    bottom: 1vh;
}